# Admin dashboard
ADMIN_EMAIL=admin@kropk.com
ADMIN_PASSWORD=password
JWT_SECRET=change-this-secret

# Mongo
MONGODB_URI=

# Payments
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AI (NVIDIA NIM)
NVIDIA_API_KEY=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

# Coming soon
COMING_SOON=false
COMING_SOON_PASSWORD=

